---
services:
  loki:
    image: grafana/loki:3.6.5@sha256:847c287ada0e12603910589f42038c5cdaaad04e248bd1dc6c6e0920a235f427
    container_name: loki
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml
      - ./rules:/rules/fake
      - /mnt/ssd512/ctr_data/loki/data:/data/loki
    user: "9001:9001"
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/config.yaml
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1
      interval: 1m
      timeout: 10s
      retries: 2
      start_period: 60s
    restart: unless-stopped
  
networks:
  default:
    external: true
    name: ctr-network
