---
services:
  loki:
    image: grafana/loki:3.5.7@sha256:0eaee7bf39cc83aaef46914fb58f287d4f4c4be6ec96b86c2ed55719a75e49c8
    container_name: loki
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml
      - ./rules:/rules/fake
      - /mnt/ssd512/ctr_data/loki/data:/data/loki
    user: "9001:9001"
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/config.yaml
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1
      interval: 1m
      timeout: 10s
      retries: 2
      start_period: 60s
    restart: unless-stopped
  
networks:
  default:
    external: true
    name: ctr-network
