---
services:
  sonarr:
    image: 'ghcr.io/linuxserver/sonarr:4.0.16@sha256:60e5edcac39172294ad22d55d1b08c2c0a9fe658cad2f2c4d742ae017d7874de'
    container_name: sonarr
    labels:
      - traefik.enable=true
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
      - TZ="Australia/Melbourne"
    volumes:
      - './config:/config'
      - '/mnt/data8tb/videos:/tv'
      - '/mnt/data8tb/downloads:/media'
    restart: 'unless-stopped'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8989/sonarr"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 1m
networks:
  default:
    external: true
    name: ctr-network