---
services:
  smtprelay:
    image: grafana/smtprelay:2.3.1@sha256:fcfca604a66eb9f59e926aed2f04e91b384459839ab97ac3702896bc15638071
    container_name: smtprelay
    hostname: smtprelay
    ports:
      - 2025:25
    command: -config=/smtprelay.ini
    volumes:
      - ./smtprelay.ini:/smtprelay.ini:ro
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network
