
services:
  prowlarr:
    image: ghcr.io/linuxserver/prowlarr:latest@sha256:5339e9050cfcc0cb5331e9c98610ed9d4ce70ef481a5461ea664a13dda3f1eb0
    container_name: prowlarr
    labels:
      - traefik.enable=true
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
      - TZ=Australia/Melbourne
    volumes:
      - ./config:/config
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network
