services:
  apprise:
    image: caronc/apprise:v1.3.1@sha256:6b112f8f174244f4a73b8e1254c9bde1fa562a6a428010aeaff1c18bc98d2713
    container_name: apprise
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.apprise.loadbalancer.server.port=8000
      - show.external=true
    env_file:
      - apprise.env
    volumes:
      - ./config:/config
      - ./attach:/attach
  signal:
    image: bbernhard/signal-cli-rest-api:0.97@sha256:5fcb8e8620f20f944d747627841ca97f19104acb3e1adb1d5c8983b5db422529
    container_name: signal
    restart: unless-stopped
    environment:
      - MODE=native
      - AUTO_RECEIVE_SCHEDULE=0 21 * * *
    volumes:
      - ./signal:/home/.local/share/signal-cli

networks:
  default:
    external: true
    name: ctr-network
