services:
  apprise:
    image: caronc/apprise:1.2.5@sha256:e6e13d50379f2bc7aa6f95d1c70d25621e0fdebbe330e0edfc792c65a3330a97
    container_name: apprise
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.apprise.loadbalancer.server.port=8000
      - show.external=true
    env_file:
      - apprise.env
    volumes:
      - ./config:/config
      - ./attach:/attach
  signal:
    image: bbernhard/signal-cli-rest-api:0.95@sha256:e09c9ce6996a6aba130f6301aa85539578fb01ad972c32c8c4ee52c8ab1d1209
    container_name: signal
    restart: unless-stopped
    environment:
      - MODE=native
      - AUTO_RECEIVE_SCHEDULE=0 21 * * *
    volumes:
      - ./signal:/home/.local/share/signal-cli

networks:
  default:
    external: true
    name: ctr-network
