services:
  apprise:
    image: caronc/apprise:1.3.0@sha256:e365025a7bf1fed39ef66b5f22c9855d500ee7bdea27441365e5b95ea972e843
    container_name: apprise
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.apprise.loadbalancer.server.port=8000
      - show.external=true
    env_file:
      - apprise.env
    volumes:
      - ./config:/config
      - ./attach:/attach
  signal:
    image: bbernhard/signal-cli-rest-api:0.96@sha256:04ee57f9819a90c89fbee46f74e080a032f5f05decf6e4b4a4e1f45d050ed9c8
    container_name: signal
    restart: unless-stopped
    environment:
      - MODE=native
      - AUTO_RECEIVE_SCHEDULE=0 21 * * *
    volumes:
      - ./signal:/home/.local/share/signal-cli

networks:
  default:
    external: true
    name: ctr-network
