services:
  apprise:
    image: caronc/apprise:1.2.6@sha256:a92f836b0c2c53523465b670f290615a0ac5c863b0ff72e48fac91c1dac795de
    container_name: apprise
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.apprise.loadbalancer.server.port=8000
      - show.external=true
    env_file:
      - apprise.env
    volumes:
      - ./config:/config
      - ./attach:/attach
  signal:
    image: bbernhard/signal-cli-rest-api:0.96@sha256:04ee57f9819a90c89fbee46f74e080a032f5f05decf6e4b4a4e1f45d050ed9c8
    container_name: signal
    restart: unless-stopped
    environment:
      - MODE=native
      - AUTO_RECEIVE_SCHEDULE=0 21 * * *
    volumes:
      - ./signal:/home/.local/share/signal-cli

networks:
  default:
    external: true
    name: ctr-network
