---
services:
  plex:
    image: 'plexinc/pms-docker:latest@sha256:1131c4cd21fa22f8196f749f1dbb69af306776c3c83c7f5b061e51dc49bcff7f'
    container_name: plex
    labels:
      - traefik.enable=true
      - traefik.http.services.plex.loadbalancer.server.port=32400
    env_file: plex.env
    volumes:
      - './config:/config'
      - '/mnt/ssd512/ctr_data/plex/transcode:/transcode'
      - '/mnt/data8tb/videos:/data'
      - '/mnt/data8tb/music:/music'
    ports:
      - 32400:32400/tcp
      - 1900:1900/udp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469/tcp
    restart: 'unless-stopped'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:32400/web/index.html"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 2m
    dns:
      - 1.1.1.1
      - 1.0.0.1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
networks:
  default:
    external: true
    name: ctr-network