services:
  stirlingpdf:
    image: stirlingtools/stirling-pdf:1.6.0@sha256:1f73a8f898fe269cbbccea3be577064dd87fc4334de349fcc5b1afa1bcebf240
    container_name: stirlingpdf
    labels:
      - traefik.enable=true
      - traefik.http.services.stirlingpdf.loadbalancer.server.port=8080
      - show.external=true
      - sablier.enable=true
      - sablier.group=stirlingpdf
    volumes:
      - ./config:/configs
      - ./customFiles:/customFiles/
      - ./logs:/logs/
      - ./pipeline:/pipeline/
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - LANGS=en_GB
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/v1/info/status | grep -q 'UP' && curl -fL http://localhost:8080/ | grep -qv 'Please sign in'"]
      interval: 2m
      timeout: 10s
      retries: 5
      start_period: 30s
      start_interval: 5s
networks:
  default:
    external: true
    name: ctr-network