services:
  stirlingpdf:
    image: stirlingtools/stirling-pdf:2.4.6@sha256:073023f9829b96a5e64ec3cdbf2f441e65feb8b89bfbebeae217b96564b546e9
    container_name: stirlingpdf
    labels:
      - traefik.enable=true
      - traefik.http.services.stirlingpdf.loadbalancer.server.port=8080
      - show.external=true
      - sablier.enable=true
      - sablier.group=stirlingpdf
    volumes:
      - ./config:/configs
      - ./customFiles:/customFiles/
      - ./logs:/logs/
      - ./pipeline:/pipeline/
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - LANGS=en_GB
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/v1/info/status | grep -q 'UP' && curl -fL http://localhost:8080/ | grep -qv 'Please sign in'"]
      interval: 2m
      timeout: 10s
      retries: 5
      start_period: 30s
      start_interval: 5s
networks:
  default:
    external: true
    name: ctr-network