version: '2'
services:
  n8n:
    image: ghcr.io/n8n-io/n8n:1.117.0@sha256:7b0d7d7499b2d0a472364b772267f9807a6c445753537435c51eb7736399a3b4
    container_name: n8n
    labels:
      - traefik.enable=true
      - traefik.http.services.n8n.loadbalancer.server.port=5678
      - show.external=true
    env_file:
      - n8n.env
    volumes:
      - ./data:/home/node/.n8n
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network