services:
  n8n:
    image: ghcr.io/n8n-io/n8n:1.119.0@sha256:8f6834c399b5a764d5b0165db5d52d757652edb8f6b938b30b0cdf70fdfd3df1
    container_name: n8n
    labels:
      - traefik.enable=true
      - traefik.http.services.n8n.loadbalancer.server.port=5678
      - show.external=true
    env_file:
      - n8n.env
    volumes:
      - ./data:/home/node/.n8n
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network