---
services:
  uptimekuma:
    image: 'louislam/uptime-kuma:1.23.17-debian@sha256:3d632903e6af34139a37f18055c4f1bfd9b7205ae1138f1e5e8940ddc1d176f9'
    container_name: uptimekuma
    labels:
      - traefik.enable=true
      - traefik.http.services.uptimekuma.loadbalancer.server.port=3001
      - show.external=true
    environment:
      - PUID=1000
      - PGID=998
    volumes:
      - './config:/app/data'
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: 'unless-stopped'
    dns:
      - 1.1.1.1
      - 1.0.0.1
networks:
  default:
    external: true
    name: ctr-network