---
services:
  uptimekuma:
    image: 'louislam/uptime-kuma:2.1.3@sha256:32c352a235fd10f98b3f64a6a4345d3c0c7f4e8be7810d2e1e867f7fe2e48ba2'
    container_name: uptimekuma
    labels:
      - traefik.enable=true
      - traefik.http.services.uptimekuma.loadbalancer.server.port=3001
      - show.external=true
    environment:
      - PUID=1000
      - PGID=998
    volumes:
      - './config:/app/data'
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: 'unless-stopped'
    dns:
      - 1.1.1.1
      - 1.0.0.1
networks:
  default:
    external: true
    name: ctr-network