---
version: "3.7"
services:
  sabnzbd:
    image: 'ghcr.io/linuxserver/sabnzbd:4.5.4@sha256:3e3678945b3a977ad5da67c29e9516b186a0fcadca22fab44267ddf5c0d1d33b'
    container_name: sabnzbd
    labels:
      - traefik.enable=true
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
      - TZ="Australia/Melbourne"
    volumes:
        - './config:/config'
        - '/mnt/data8tb/downloads:/media'
    restart: 'unless-stopped'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/sabnzbd"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
networks:
  default:
    external: true
    name: ctr-network
