services:
  olivetin:
    container_name: olivetin
    image: ghcr.io/olivetin/olivetin:2025.10.30@sha256:cf5da068e8302aed8acd1dd6d2a6c2e064c61e1a36249c57b8cd0fa5a5f47616
    labels:
      - traefik.enable=true
      - traefik.http.services.olivetin.loadbalancer.server.port=1337
      - show.external=true
    volumes:
      - ./config:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network