services:
  olivetin:
    container_name: olivetin
    image: ghcr.io/olivetin/olivetin:2025.11.06@sha256:74df4e02c1f1ef8596b7d7662fa35090a05a6910177c55b1c21bf9a8c472d5e2
    labels:
      - traefik.enable=true
      - traefik.http.services.olivetin.loadbalancer.server.port=1337
      - show.external=true
    volumes:
      - ./config:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network