---
services:
  prometheus:
    image: prom/prometheus:v3.8.0@sha256:d936808bdea528155c0154a922cd42fd75716b8bb7ba302641350f9f3eaeba09
    container_name: prometheus
    user: "9001:9001"
    labels:
      - traefik.enable=true
      - traefik.http.services.prometheus.loadbalancer.server.port=9090
    volumes:
      - ./etc:/etc/prometheus
      - /mnt/ssd512/ctr_data/prometheus/data:/prometheus
    restart: unless-stopped
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.retention.time=45d"
    security_opt:
      - no-new-privileges:true
    depends_on:
      - cadvisor
  alertmanager:
    image: prom/alertmanager:v0.29.0@sha256:88743b63b3e09ea6e31e140ced5bf45f4a8e82c617c2a963f78841f4995ad1d7
    container_name: alertmanager
    labels:
      - traefik.enable=true
      - traefik.http.services.alertmanager.loadbalancer.server.port=9093
    volumes:
      - ./alertmanager.yml:/etc/alertmanager.yml
    restart: unless-stopped
    command:
      - "--config.file=/etc/alertmanager.yml"
    security_opt:
      - no-new-privileges:true
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.52.1@sha256:f40e65878e25c2e78ea037f73a449527a0fb994e303dc3e34cb6b187b4b91435
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    command:
      - '--housekeeping_interval=30s'
      - '--docker_only=true'
      - '--disable_metrics=percpu,hugetlb,sched,tcp,udp,disk,referenced_memory,advtcp'
      - '--store_container_labels=false'
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.10.2@sha256:337ff1d356b68d39cef853e8c6345de11ce7556bb34cda8bd205bcf2ed30b565
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
networks:
  default:
    external: true
    name: ctr-network