
# To upgrade the database, see https://acbgbca.github.io/documentation/postgres/
services:
  db18:
    image: postgres:18.1
    restart: unless-stopped
    volumes:
      - ./pgdata18:/var/lib/postgresql
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    labels:
      - sablier.enable=true
      - sablier.group=paperless

  broker:
    image: redis:8.6.0
    restart: unless-stopped
    volumes:
      - ./redisdata:/data
    labels:
      - sablier.enable=true
      - sablier.group=paperless

  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.19.5@sha256:5f2a72fd7be42c6b1d8fa1751606a140452d4c3e6e829ae6b1b15e3c95129481
    container_name: paperless
    restart: unless-stopped
    # user: 9001:9001
    labels:
      - traefik.enable=true
      - traefik.http.services.paperless.loadbalancer.server.port=8000
      - show.external=true
      - sablier.enable=true
      - sablier.group=paperless
    depends_on:
      - db18
      - broker
      - gotenberg
      - tika
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./data:/usr/src/paperless/data
      - /mnt/data8tb/onedrive/paperless/media:/usr/src/paperless/media
      - /mnt/data8tb/onedrive/paperless/export:/usr/src/paperless/export
      - /mnt/data8tb/onedrive/paperless/consume:/usr/src/paperless/consume
    env_file: docker-compose.env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db18
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.26@sha256:328551506b3dec3ff6381dd47e5cd72a44def97506908269e201a8fbfa1c12c0
    restart: unless-stopped
    labels:
      - sablier.enable=true
      - sablier.group=paperless
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

  tika:
    image: ghcr.io/paperless-ngx/tika:2.9.1-minimal@sha256:20db3df89eaeb1b271dd840888fe909b88b12f4b86ef641ec07a1d45d4c5168f
    restart: unless-stopped
    labels:
      - sablier.enable=true
      - sablier.group=paperless

networks:
  default:
    external: true
    name: ctr-network
