---
services:
  grafana:
    image: grafana/grafana-oss:12.3.3@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf
    container_name: grafana
    user: "9001:9001"
    labels:
      - traefik.enable=true
      - traefik.http.services.grafana.loadbalancer.server.port=3000
      - show.external=true
    environment:
      - GF_AUTH_PROXY_ENABLED=true
      - GF_AUTH_PROXY_HEADER_NAME=REMOTE-USER
      - GF_AUTH_PROXY_HEADERS=Name:REMOTE-NAME Email:REMOTE-EMAIL Groups:REMOTE-GROUPS
      - GF_LOG_LEVEL=warn # Grafana logs way too much at info level
    volumes:
      - ./data:/var/lib/grafana
    restart: unless-stopped
  alloy:
    image: grafana/alloy:v1.13.1@sha256:03529aec781901a72a354809650028435043406e707c6fb8953dc6e48f97727d
    container_name: alloy
    command: run --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy
      - ./alloy:/var/lib/alloy/data
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/log:/logs:ro
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network