services:
  microbin:
    image: danielszabo99/microbin:2.1.0@sha256:34fe4ac99b65cc633975ae72ca6fc84eab15f73a95b2e03b98312374063ee5d7
    container_name: microbin
    restart: always
    user: 9001:9001
    labels:
      - traefik.enable=true
      - traefik.http.services.microbin.loadbalancer.server.port=8080
      - show.external=true
    volumes:
     - ./data:/app/microbin_data
    environment:
      MICROBIN_ADMIN_USERNAME: ${MICROBIN_ADMIN_USERNAME}
      MICROBIN_ADMIN_PASSWORD: ${MICROBIN_ADMIN_PASSWORD}
      MICROBIN_PUBLIC_PATH: ${MICROBIN_PUBLIC_PATH}
      MICROBIN_GC_DAYS: 7
      MICROBIN_WIDE: true
      MICROBIN_QR: true
      MICROBIN_DEFAULT_EXPIRY: 1week

networks:
  default:
    external: true
    name: ctr-network