
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.6.1@sha256:8c7ec6a3c9094af7ac0686aa361fed3129264a8ed2c17594d5114a5e8342f7c9
    container_name: homepage
    user: 9001:9001
    labels:
      - traefik.enable=true
      - traefik.http.services.homepage.loadbalancer.server.port=3000
      - show.external=true
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=homepage.${externalDomain},homepage.${internalDomain}
    volumes:
      - ./config:/app/config
      - ./images:/app/public/images
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network
