
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.7.0@sha256:b6ac42c31845ea7c862d71451c16413a6284430d8ff08e16ad791f42718a7c71
    container_name: homepage
    user: 9001:9001
    labels:
      - traefik.enable=true
      - traefik.http.services.homepage.loadbalancer.server.port=3000
      - show.external=true
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=homepage.${externalDomain},homepage.${internalDomain}
    volumes:
      - ./config:/app/config
      - ./images:/app/public/images
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network
