---
services:
  vscode:
    image: 'codercom/code-server:4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4'
    container_name: vscode
    labels:
      - traefik.enable=true
      - traefik.http.services.vscode.loadbalancer.server.port=8080
      - show.external=true
    user: "9001:9001"
    environment:
      - DOCKER_USER=ctrdata
    volumes:
      - './local:/home/coder/.local'
      - './config:/home/coder/.config'
      - './code:/home/coder/project'
      - '.gitconfig:/home/coder/.gitconfig'
    restart: 'unless-stopped'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthz"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 1m
  vscode_remote:
    container_name: vscode_remote
    build:
      context: ./devcontainer
    volumes:
      - ./home:/home/ctrdata
      - ./cache:/vscode
      - ./sshd_config:/etc/ssh/sshd_config
      - /home/ctrdata/.ssh:/home/ctrdata/.ssh
      - '.gitconfig:/home/ctrdata/.gitconfig'
    environment:
      - COMMAND=TUNNEL
    privileged: true
    networks:
      lan:
        ipv4_address: 192.168.94.72
    
networks:
  default:
    external: true
    name: ctr-network
  lan:
    name: lan-network
    external: true
