
services:
  linkding:
    image: sissbruecker/linkding:1.44.1@sha256:e4fbafee44388d8555e34ffdc507224302989265009fc82f5f2762b789f0385a
    container_name: linkding
    labels:
      - traefik.enable=true
      - traefik.http.services.linkding.loadbalancer.server.port=9090
      - show.external=true
    env_file: linkding.env
    volumes:
      - ./data:/etc/linkding/data
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network
