
services:
  linkding:
    image: sissbruecker/linkding:1.44.2@sha256:2883e8b30f02d8dbd2b79d7fd813dff02971b70742e474d0e18f0c3708d22edd
    container_name: linkding
    labels:
      - traefik.enable=true
      - traefik.http.services.linkding.loadbalancer.server.port=9090
      - show.external=true
    env_file: linkding.env
    volumes:
      - ./data:/etc/linkding/data
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network
