version: "2.4"
services:
  changedetector:
    image: ghcr.io/dgtlmoon/changedetection.io:latest@sha256:ccaff3c7f3185bd63217b54c173886e0ea6e1200a452c1d21a352cb40d042e02
    container_name: changedetector
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.changedetector.loadbalancer.server.port=5000
      - show.external=true
    volumes:
      - ./data:/datastore
    environment:
      - PUID=9001
      - PGID=9001
      - USE_X_SETTINGS=1

networks:
  default:
    external: true
    name: ctr-network
