services:
  changedetector:
    image: ghcr.io/dgtlmoon/changedetection.io:latest@sha256:fd697f3d2cfeaf65be8c505713be312f2c2a2c8b1d85f9253cb02b356c692d9b
    container_name: changedetector
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.changedetector.loadbalancer.server.port=5000
      - show.external=true
    volumes:
      - ./data:/datastore
    environment:
      - PUID=9001
      - PGID=9001
      - USE_X_SETTINGS=1

networks:
  default:
    external: true
    name: ctr-network
