services:
  changedetector:
    image: ghcr.io/dgtlmoon/changedetection.io:latest@sha256:dff8cd5542d3d5f94dbb1e30b05b750498f73be0f3837e658ab3fcbdbc3c8ec0
    container_name: changedetector
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.changedetector.loadbalancer.server.port=5000
      - show.external=true
    volumes:
      - ./data:/datastore
    environment:
      - PUID=9001
      - PGID=9001
      - USE_X_SETTINGS=1

networks:
  default:
    external: true
    name: ctr-network
