---
version: "2.4"
services:
  calibre:
    image: 'ghcr.io/linuxserver/calibre-web:0.6.25@sha256:f575422b0cde491180cdaf1eb2b7b26019252e94b419baa6a0f99dd803927d20'
    container_name: calibre
    labels:
      - traefik.enable=true
      - traefik.http.services.calibre.loadbalancer.server.port=8083
      - show.external=true
      - sablier.enable=true
      - sablier.group=calibre
    environment:
      - PUID=9001
      - PGID=9001
#      - DOCKER_MODS=linuxserver/mods:universal-calibre
    volumes:
      - './config:/config'
      - '/mnt/data8tb/onedrive/calibre/books:/books'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/login"]
      interval: 2m
      timeout: 15s
      retries: 5
      start_period: 30s
      start_interval: 5s
    restart: 'unless-stopped'
  calibreserver:
    image: 'ghcr.io/linuxserver/calibre:8.13.0@sha256:fc5c62b2d11fb1396a4fd97d18270c2802f3980b8d49a51675b9dc90c9443250'
    container_name: calibreserver
    labels:
      - traefik.enable=true
      - traefik.http.services.calibreserver.loadbalancer.server.port=8080
      - show.external=true
      - sablier.enable=true
      - sablier.group=calibre
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=9001
      - PGID=9001
    volumes:
      - './server:/config'
      - '/mnt/data8tb/onedrive/calibre/books:/books'
      - '/mnt/data8tb/onedrive/calibre/import:/import'
    restart: 'unless-stopped'

networks:
  default:
    external: true
    name: ctr-network
