---
services:
  calibre:
    image: 'ghcr.io/linuxserver/calibre-web:0.6.25@sha256:d3ed33150a025511e97d109e5b755cc69ddfac8cf887941249fc435efc60db62'
    container_name: calibre
    labels:
      - traefik.enable=true
      - traefik.http.services.calibre.loadbalancer.server.port=8083
      - show.external=true
      - sablier.enable=true
      - sablier.group=calibre
    environment:
      - PUID=9001
      - PGID=9001
#      - DOCKER_MODS=linuxserver/mods:universal-calibre
    volumes:
      - './config:/config'
      - '/mnt/data8tb/onedrive/calibre/books:/books'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/login"]
      interval: 2m
      timeout: 15s
      retries: 5
      start_period: 30s
      start_interval: 5s
    restart: 'unless-stopped'
  calibreserver:
    image: 'ghcr.io/linuxserver/calibre:8.14.0@sha256:1ce25a9e5155591232c94952c278df8084787f8098964fae38de9811b3dba34b'
    container_name: calibreserver
    labels:
      - traefik.enable=true
      - traefik.http.services.calibreserver.loadbalancer.server.port=8080
      - show.external=true
      - sablier.enable=true
      - sablier.group=calibre
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=9001
      - PGID=9001
    volumes:
      - './server:/config'
      - '/mnt/data8tb/onedrive/calibre/books:/books'
      - '/mnt/data8tb/onedrive/calibre/import:/import'
    restart: 'unless-stopped'

networks:
  default:
    external: true
    name: ctr-network
