---
services:
  cloudflared:
    image: 'cloudflare/cloudflared:2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2'
    container_name: cloudflared
    user: 9001:9001
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./config:/config
    command:
      - "tunnel"
      - "--no-autoupdate"
      - "--config"
      - "/config/config.yml"
      - "run"
    restart: 'unless-stopped'

  traefikexternal:
    image: traefik:v3.6.4@sha256:c5bd185c41ba3dbb42cf8a1b9fbdc368bdc96f90c8e598134879935f64e7a7f1
    container_name: traefikexternal
    labels:
      - traefik.enable=true
      - traefik.http.services.traefikexternal.loadbalancer.server.port=8080
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.constraints=Label(`show.external`,`true`)"
      - '--providers.docker.defaultRule=Host(`{{ index .Labels "com.docker.compose.service" }}.$externaldomain`)'
      - "--providers.file.directory=/config"
      - "--certificatesresolvers.cf.acme.dnschallenge=true"
      - "--certificatesresolvers.cf.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.cf.acme.email=$email"
      - "--certificatesresolvers.cf.acme.storage=/letsencrypt/acme.json"
      - "--experimental.plugins.sablier.modulename=github.com/sablierapp/sablier"
      - "--experimental.plugins.sablier.version=v1.10.1"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=secure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.secure.address=:443"
      - "--entryPoints.secure.forwardedHeaders.trustedIPs=172.18.0.1/16"
      - "--entrypoints.secure.http.tls=true"
      - "--entrypoints.secure.http.tls.certResolver=cf"
      - "--entrypoints.secure.http.tls.domains[0].main=$externaldomain"
      - "--entrypoints.secure.http.tls.domains[0].sans=*.$externaldomain"
      - "--entrypoints.secure.http.middlewares=autheliaexternal@docker"
      - "--accesslog=true"
      - "--accesslog.filters.statuscodes=300-399,400-499,500-599"
    environment:
      - "CF_ZONE_API_TOKEN=$API_TOKEN"
      - "CF_DNS_API_TOKEN=$API_TOKEN"
    networks:
      default:
      ctrnetwork:
        ipv4_address: 172.18.128.11
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./ext_letsencrypt:/letsencrypt
      - ./traefik:/config
    depends_on:
      - sablier
    dns:
      - 1.1.1.1
      - 1.0.0.1

# Manually start container
# curl http://sablier.internal.domain/api/strategies/blocking?group=stirlingpdf
  sablier:
    image: ghcr.io/sablierapp/sablier:1.10.1@sha256:4d4096b59a6e1496bd3106c1a90a7fdd161aafb73d58539b8c749c69380dedae
    container_name: sablier
    command:
      - start
      - --provider.name=docker
    labels:
      - traefik.enable=true
      - traefik.http.services.sablier.loadbalancer.server.port=10000
      - show.external=true
    environment:
      - SESSIONS_DEFAULT_DURATION=15m
      - SESSIONS_EXPIRATION_INTERVAL=3m
      - STRATEGY_BLOCKING_DEFAULT_TIMEOUT=5m
#      - LOGGING_LEVEL=debug
    volumes:
        - '/var/run/docker.sock:/var/run/docker.sock'
    restart: 'unless-stopped'
    networks:
      - ctrnetwork
networks:
  default:
  ctrnetwork:
    external: true
    name: ctr-network