---
services:
  minecraft-alpha:
    image: ghcr.io/acbgbca/minecraft-bedrock:alpha@sha256:e9581b63e488524f0958d8e9bc2a30e5d17b9e3f0a7587172fb85393364bedb5
    container_name: minecraft-alpha
    user: 9001:9001
    environment:
      - EULA=TRUE
    volumes:
      - ./config:/config
      - ./worlds:/worlds
    security_opt:
      - no-new-privileges:true
    networks:
      default:
          ipv4_address: 192.168.0.71
networks:
  default:
    name: lan-network
    external: true
