---
services:
  minecraft-alpha:
    image: ghcr.io/acbgbca/minecraft-bedrock:alpha@sha256:07cf1ebb2d14dadc6c201a2f86cbe508c269cf563b84d64e2f3d6cdd977e2810
    container_name: minecraft-alpha
    user: 9001:9001
    environment:
      - EULA=TRUE
    volumes:
      - ./config:/config
      - ./worlds:/worlds
    security_opt:
      - no-new-privileges:true
    networks:
      default:
          ipv4_address: 192.168.0.71
networks:
  default:
    name: lan-network
    external: true
