services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.3@sha256:1edf3f17997acbe139718f252a7d2ded2706762390d787a34204668498dbc5f6
    container_name: jellyfin
    labels:
      - traefik.enable=true
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
      - show.external=false
    env_file: jellyfin.env
    user: 9001:9001
    volumes:
      - ./config:/config
      - /mnt/ssd512/ctr_data/jellyfin/cache:/cache
      - '/mnt/data8tb/videos:/data'
      - /tmp/jellyfin:/transcode:rw
    restart: 'unless-stopped'
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
networks:
  default:
    external: true
    name: ctr-network