version: '2'
services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.0@sha256:59417f441213e236a9f907d4e71a13472042409d85f9e9310dbdd87ee33d7bd4
    container_name: jellyfin
    labels:
      - traefik.enable=true
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
      - show.external=false
    env_file: jellyfin.env
    user: 9001:9001
    volumes:
      - ./config:/config
      - /mnt/ssd512/ctr_data/jellyfin/cache:/cache
      - '/mnt/data8tb/videos:/data'
      - /tmp/jellyfin:/transcode:rw
    restart: 'unless-stopped'
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
networks:
  default:
    external: true
    name: ctr-network