---

services:
  ldap:
    image: lldap/lldap:v0.6.2@sha256:9e605a66c02514bfcffd1b67cafb1e98d50992216bb2871d7ae44622047dd09d
    container_name: ldap
    labels:
      - traefik.enable=true
      - traefik.http.services.ldap.loadbalancer.server.port=17170
    volumes:
      - "./data:/data"
    environment:
      - UID=9001
      - GID=9001
      - TZ="Australia/Melbourne"
      - LLDAP_JWT_SECRET=$LLDAP_JWT_SECRET
      - LLDAP_LDAP_USER_PASS=$LLDAP_LDAP_USER_PASS
      - LLDAP_LDAP_BASE_DN=$LLDAP_LDAP_BASE_DN
    restart: 'unless-stopped'

networks:
  default:
    external: true
    name: ctr-network
