---
version: "2.4"
services:
  bazarr:
    image: 'ghcr.io/linuxserver/bazarr:1.5.3@sha256:a93c3595410f5c5791a126d7705cd8a29f3ce882338eef304cb8bece3ef2580b'
    container_name: bazarr
    labels:
      - traefik.enable=true
      - traefik.http.services.bazarr.loadbalancer.server.port=6767
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
    volumes:
      - './config:/config'
      - '/mnt/data8tb/videos:/tv'
      - '/mnt/data8tb/videos:/movies'
    restart: 'unless-stopped'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6767"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 1m
networks:
  default:
    external: true
    name: ctr-network