---
services:
  freshrss:
    image: freshrss/freshrss:1.28.0@sha256:5664f42e37e7101c824806d8f73cbc97c8f406ce043bbdb8d39d4ff1e7f2ad11
    container_name: freshrss
    labels:
      - traefik.enable=true
      - traefik.http.services.freshrss.loadbalancer.server.port=80
      - traefik.http.routers.freshrss.rule=Host(`freshrss.$DOMAIN`)
      - show.external=true
    environment:
      - TZ="Australia/Melbourne"
      - CRON_MIN=1,31
    volumes:
      - './data:/var/www/FreshRSS/data'
      - './extensions:/var/www/FreshRSS/extensions'
    restart: 'unless-stopped'
  rssbridge:
    image: rssbridge/rss-bridge@sha256:641328dbd4a39ae063d84574d1bb7f7ac69f7b6547a994ad253e0a893ef896bc
    container_name: rssbridge
    labels:
      - traefik.enable=true
      - traefik.http.services.rssbridge.loadbalancer.server.port=80
      - show.external=true
    volumes:
      - ./bridge:/config
    restart: unless-stopped
  playwrightproxy:
    image: ghcr.io/acbgbca/pw-scraper:0.175@sha256:427c6da70e6dcf9a7afc47ba4ff18a2a68ed7a7531ddf9b3107bb666908c498b
    container_name: playwrightproxy
    environment:
      - LOG_LEVEL="debug"
    labels:
      - traefik.enable=true
      - traefik.http.services.playwrightproxy.loadbalancer.server.port=8080
      - show.external=true
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network