---
services:
  freshrss:
    image: freshrss/freshrss:1.28.1@sha256:9100f649f5c946f589f54cdb9be7a65996528f48f691ef90eb262a0e06e5a522
    container_name: freshrss
    labels:
      - traefik.enable=true
      - traefik.http.services.freshrss.loadbalancer.server.port=80
      - traefik.http.routers.freshrss.rule=Host(`freshrss.$DOMAIN`)
      - show.external=true
    environment:
      - TZ="Australia/Melbourne"
      - CRON_MIN=1,31
    volumes:
      - './data:/var/www/FreshRSS/data'
      - './extensions:/var/www/FreshRSS/extensions'
    restart: 'unless-stopped'
  rssbridge:
    image: rssbridge/rss-bridge@sha256:d135495111850ea36086dea4d03c7afd828d7829ebdef9d7cbc36a7090e8e056
    container_name: rssbridge
    environment:
      - CURL_IMPERSONATE=firefox144
    labels:
      - traefik.enable=true
      - traefik.http.services.rssbridge.loadbalancer.server.port=80
      - show.external=true
    volumes:
      - ./bridge:/config
    restart: unless-stopped
    networks:
      default:
        aliases:
          - rssbridge.$DOMAIN # So I can copy and paste the URLs without needing to change the host
  playwrightproxy:
    image: ghcr.io/acbgbca/pw-scraper:0.175@sha256:427c6da70e6dcf9a7afc47ba4ff18a2a68ed7a7531ddf9b3107bb666908c498b
    container_name: playwrightproxy
    environment:
      - LOG_LEVEL="debug"
    labels:
      - traefik.enable=true
      - traefik.http.services.playwrightproxy.loadbalancer.server.port=8080
      - show.external=true
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network