---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:3f69ff41e59d022c2962631a8269a5b0c42876f4ce803312addda6307303b5a7
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network