---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:10ba8bbcb78c7151a27ff7d99ad2f3e54078ee4fcc868a832d3711c7ab75687b
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network