---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:fa2269271d07723227368094b5b62073b501fa05807b91322f8624bb0d72e13d
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network