---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:0d79b41d43a387522ab94a4fa6415de4d86b57420aeb3e73a86104db628739f9
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network