---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:5227acd73b7e1a0499e65511981eb5bccd3718472d159eee3d148ee3e257c2dc
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network