---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:028129a2f87c014f51ca4b1b6f73b2d9c4209f953849bf3ab744d6d3dfc21ff6
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network