---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:d4ab82f731c594edb446b2266bd31fc50dda48ea62c94aecfc50ed6a217e5a72
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network