---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:65f0e261bf3e8d10f1afb7ec929a7851fb7f13cfbcd75d4590baa8b08d743434
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network