---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:67dafd953a20d2e841f2ec376225760dc84261478a8e9e0d1193aadc157e701e
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network