---
services:
  ittools:
    image: ghcr.io/sharevb/it-tools:latest@sha256:fa516efa71c700c5b769af002ca0078265e5c5e051d694648eccc8260984175f
    container_name: ittools
    labels:
      - traefik.enable=true
      - traefik.http.services.ittools.loadbalancer.server.port=8080
      - show.external=true
    restart: 'unless-stopped'
networks:
  default:
    external: true
    name: ctr-network