---
version: "3.7"
services:
  transmission:
    image: "ghcr.io/linuxserver/transmission:4.0.6@sha256:c9936eecb22b3b786558ea193ac7036ea888136915c2f50f78d6734d12079262"
    container_name: transmission
    labels:
      - traefik.enable=true
      - traefik.http.services.transmission.loadbalancer.server.port=9091
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
      - TZ="Australia/Melbourne"
    volumes:
      - './config:/config'
      - '/mnt/data8tb/downloads:/media'
    ports:
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/transmission/web/"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 1m
networks:
  default:
    external: true
    name: ctr-network