---
version: "2.4"
services:
  wireguard:
    image: 'ghcr.io/linuxserver/wireguard:1.0.20250521@sha256:394cc1146ad854096889548c60aab91aeff8017ed757d96eb4908a7dbe46856e'
    container_name: wireguard
    env_file: vpn.env
    volumes:
      - './config:/config'
    ports:
      - 51820:51820/udp
    restart: 'unless-stopped'
    cap_add:
    - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1